@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    height:5000px; 
   
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #111111;
}

body::-webkit-scrollbar-track {
    background-color: #252525;
}

/* Home page */

#home {
    height: 1150px;
    width: 1920px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#homeH1Div {
    position: absolute;
    margin-bottom: 800px;
    left: 460px;
    top: 162px;
}

#homeH1 {
    position: absolute;
    font-size: 125px;
    font-family: 'Secular One';
    font-style: normal;
    letter-spacing: -0.065em;
    background: linear-gradient(180deg, #6565C5 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(20px 15px 5px #000000);

}

#home img {
    height: 1150px;
    width: 1920px;
    
}

/* Sidebar */

#navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:1150px;
    width:400px;
    background: linear-gradient(180deg, rgba(2, 0, 30, 0.49) 0%, #000000 100%);
    color:white;
}

#navbar ul {
    list-style: none;
    font-size: 40px;
}

#navbar ul li a {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

li{
    margin: 30px 0;
  }

/* Description */

#desc {
    height:1080px;
    width: 1920px;
    background-color:#111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desc_container {
    display:inline;
    height:378px;
    width:412px;
    position: relative;
    bottom:128px;
    font-family: 'Josefin Sans';
    color:white;
    text-align: end;
    vertical-align: top;
    line-height: 35px;
    letter-spacing: 0.001em;  
}

#desc_info_container {
    width: 800px;
    height:307px;
    display: flex;
    gap: 100px;
    margin-bottom: 250px ;
    justify-content: space-around;
    
}

h2 {
    font-size: 36px;
    font-family: 'Josefin Sans';
    color:white;
}

#desc div img {
    transition:all 1s ease;

}

#desc div img:hover {
    transform: scale(1.05);

}

/* Geography */

#map {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(147.15deg, rgba(70, 144, 255, 0.52) 0.89%, #247CFF 132.58%);
    width:50%;
    height:100%;
}

#geo_text {
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
    width:25%;
    height: auto;
    font-size: 36px;
    font-family: 'Josefin Sans';
    color:white;
}

/* Species */

#species_bar {
    font-size: 40px;
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#species_info {
    display: flex;
    text-align: center;
    height: 1000px;
    
}

#wild_info {
    position: relative; 
    filter: opacity(0);
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    transition: all 1s ease;

}
#wild_btn {
    font-size: 32px;
    font-family: 'Josefin Sans';
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 150px;
}

#wild_btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#wild_btn:active {
    background-image: none;
    background-color: #fff;
    color: #111111;
    
}
     




